
.background-con{
    .nyc-image{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        opacity: 0.2;
        
    }
    border-bottom: 1px solid black;

}